# BGP peer: {{ peer.member_name | bird_str }} (AS{{ peer.peer_asn }})
protocol bgp {{ peer.protocol_name }} {
    local as {{ route_server.asn }};
    neighbor {{ peer.peer_ip }} as {{ peer.peer_asn }};
    description "{{ peer.member_name | bird_str }}";

    hold time 90;
    keepalive time 30;
    graceful restart on;

    {% if af == 4 %}
    ipv4 {
        import filter {
            if is_bogon_v4() then reject;
            if !net_len_valid(4) then reject;
            honor_graceful_shutdown();
            accept;
        };
        export filter {
            if is_bogon_v4() then reject;
            accept;
        };
        {% if peer.max_prefixes %}
        receive limit {{ peer.max_prefixes }} action restart;
        {% endif %}
    };
    {% endif %}

    {% if af == 6 %}
    ipv6 {
        import filter {
            if is_bogon_v6() then reject;
            if !net_len_valid(6) then reject;
            honor_graceful_shutdown();
            accept;
        };
        export filter {
            if is_bogon_v6() then reject;
            accept;
        };
        {% if peer.max_prefixes %}
        receive limit {{ peer.max_prefixes }} action restart;
        {% endif %}
    };
    {% endif %}
}
